.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.navbar-brand
        | TC | MI
    .collapse.navbar-collapse
      ul#legend.nav.navbar-nav
        li(class=title=='Residential'?'active':undefined)
            span.ion-record.residential
            | Residential
        li(class=title=='Commercial'?'active':undefined)
            span.ion-record.commercial
            | Commercial
        li(class=title=='City'?'active':undefined)
            span.ion-record.city
            | Public
        li(class=title=='other'?'active':undefined)
            span.ion-record.other
            | Education / Industry / Health Care
        li(class=title=='other'?'active':undefined)
            span.ion-record.god
            | Churches
        li(class=title=='other'?'active':undefined)
            span.ion-record.vacant
            | Vacant Lots
      ul.nav.navbar-nav.nav-right
        li(class=title=='other'?'active':undefined)
          a(href='http://www.traversecitymi.gov/', title='The Cherry Capital of the World')
            span.mi-icon
